body {
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    text-align: center;
    text-decoration: none;
}

form {
    max-width: 500px;
    padding: 500px;

    text-align: center;
    background-color: grey;
}

.fieldset {
    margin-bottom: 0px;
    margin-left: 16px;
}

.map {
    margin-bottom: 20px;
    margin-left: 16px;
}